<%- include('./includes/head.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <h2>Left Column</h2>
        </div>
        <div class="col-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav>
            <%- include('./includes/messages.ejs') %>
            <h2>Center</h2>
            <div>
                <form action="/<%= locale %>/test-validation" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Test Email</label>
                        <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="inputText" class="form-label">Test Input</label>
                        <input type="text" class="form-control" name="inputText" id="inputtext">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="checkbox" id="checkbox">
                        <label class="form-check-label" for="rememberMe">A Test Checkbox</label>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                    <button type="submit" class="btn btn-primary"><%= i18n.VIEWS_BUTTON_SUBMIT() %></button>
                </form>
            </div>
        </div>
        <div class="col-3">
            <% if(isAuthenticated) { %>
                <%- include('./includes/auth/usercard.ejs') %>
            <% } else { %>
                <%- include('./includes/auth/forms/login.ejs') %>
            <% } %>
        </div>
    </div>
</div>

<%- include('./includes/end.ejs') %>