<form action="/auth/login" method="post">
    <div class="mb-3">
        <label for="email" class="form-label"><%= i18n.VIEWS_LOGIN_EMAIL_LABEL() %></label>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"><%= i18n.VIEWS_LOGIN_EMAIL_HELP() %></div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label"><%= i18n.VIEWS_LOGIN_PASSWORD() %></label>
        <input type="password" class="form-control" name="password" id="password">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" name="rememberMe" id="rememberMe">
        <label class="form-check-label" for="rememberMe"><%= i18n.VIEWS_LOGIN_REMEMBER_ME() %></label>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
    <button type="submit" class="btn btn-primary"><%= i18n.VIEWS_BUTTON_SUBMIT() %></button>
</form>